@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic);

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

a:focus {
    outline: thin dotted;
}

body {
    color: #434343;
    background-color: #fcfcfc;
    width: 36em;
    max-width: 100%;
    padding: 3em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: "Georgia", sans-serif;
}

@media (max-width: 48em) {
    body {
        padding: 1em 1em;
    }
}

header {
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Source Sans Pro", serif;
    font-weight: 600;
    font-size: 1.1875em;
}

h1 a,
h1 a:visited {
    color: #434343;
    text-decoration: none;
}

h2 a,
h2 a:visited {
    color: #434343;
}

@media (max-width: 48em) {
    h3 {
        font-weight: normal;
    }
}

h1 {
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
}

p {
    margin: 1em 0;
    text-indent: 1.5em;
}

p,
ul {
    line-height: 1.5em;
    font-size: 1.1875em;
}

section {
    margin: 2em auto;
    padding: 1.5em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
}

section h3 {
    padding-top: 0.5em;
}

section > *:first-child {
    margin-top: 0;
}

section > *:last-child {
    margin-bottom: 0;
}


strong {
  font-weight: 600;
}

.alt-font {
  font-family: "Source Sans Pro", serif;
}

header, nav {
  text-align: center;
  font-family: "Source Sans Pro", serif;
}

.list-horizontal {
  list-style: none;
  padding: 0;
}
 .list-horizontal li {
    display: inline;
    padding-left: 4.0375px;
    padding-right: 4.0375px;
}
