@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
/* line 13, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

/* line 19, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
html,
body {
  overflow: visible; }

@media (max-width: 47em) {
  /* line 25, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 37, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 49, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 61, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* line 73, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 85, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 96, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 107, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* line 113, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
body {
  color: #434343;
  background-color: #fcfcfc;
  width: 40em;
  max-width: 100%;
  padding: 2em 1em 1em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: "Droid Serif", serif;
  text-rendering: optimizeLegibility; }

/* line 128, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
a, a:link, a:visited, a:hover, a:active {
  color: #434343; }

@media (max-width: 48em) {
  /* line 133, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  body {
    padding: 1em 1em 0 1em; } }
/* line 138, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
header {
  text-align: center; }

/* line 142, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  margin: 2em 1em 1em 1em; }

/* line 153, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h1 a,
h1 a:visited {
  color: #434343;
  text-decoration: none; }

/* line 159, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h2 a,
h2 a:visited {
  color: #434343; }

@media (max-width: 48em) {
  /* line 165, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  h3 {
    font-weight: normal; } }
/* line 170, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h1 {
  text-transform: uppercase; }

/* line 174, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h3, h4 {
  font-weight: 400; }

/* line 178, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h4 {
  font-size: 1.1em;
  margin: 0; }

/* line 183, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
p + p {
  margin: 1em 0;
  text-indent: 2em; }

/* line 188, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.news p {
  margin: 0 0 1em 0;
  text-indent: 0; }

/* line 193, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.news div {
  line-height: 1.7em;
  font-size: 1.2em; }

/* line 198, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.news {
  margin: 0 0 2.5em 0; }

/* line 202, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
p,
ul {
  line-height: 1.7em;
  font-size: 1.2em; }

/* line 209, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
ul ul {
  font-size: 1em; }

/* line 214, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
section {
  margin: 0 auto;
  padding: 1.5em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em; }

@media (max-width: 48em) {
  /* line 222, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  section {
    padding: 1.5em .5em 1.5em .5em; } }
/* line 227, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
section > *:first-child {
  margin-top: 0; }

/* line 231, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
section > *:last-child {
  margin-bottom: 0; }

/* line 235, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
strong {
  font-weight: 600; }

/* line 239, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
header, nav {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif; }

/* line 244, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.list-horizontal {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0; }

/* line 249, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.list-horizontal li {
  display: inline;
  padding-left: 4.0375px;
  padding-right: 4.0375px; }

/* line 255, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.brand {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  text-decoration: none; }
  /* line 260, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .brand:hover {
    text-decoration: none; }
  /* line 264, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .brand a {
    text-decoration: none; }

/* line 269, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
code {
  padding: 2px 3px;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: .8em; }

/* line 275, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.brand-name {
  line-height: 1; }

/* line 279, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.claim {
  font-size: 0.70rem;
  text-transform: uppercase; }

/* line 284, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
img {
  display: block;
  margin: 5px auto;
  max-width: 100%; }

/* line 290, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.code {
  margin: 2em 1em 1em 1em;
  padding: .5em;
  text-indent: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.04); }

/* line 300, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.half-width-image {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

/* line 306, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.quater-width-image {
  width: 25%;
  margin: 0 auto;
  text-align: center; }

/* line 312, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.inline-image {
  display: inline; }

/* line 316, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.date {
  font-style: italic;
  text-align: center; }

/* line 321, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.logos {
  text-align: center; }
  /* line 324, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .logos img {
    display: inline-block;
    margin: 0;
    padding: 1.5em;
    width: 6em;
    vertical-align: middle; }

/* line 333, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.team {
  margin: 2em 0; }
  /* line 336, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .team:after {
    content: '';
    display: block;
    height: 0;
    clear: both; }
  /* line 343, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .team .aside {
    float: left;
    width: 40%;
    padding-right: 1em;
    box-sizing: border-box; }
    /* line 349, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
    .team .aside + div {
      display: inline-block;
      width: 60%; }
  /* line 355, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .team p:first-child {
    margin-top: 0; }
  /* line 359, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .team p + p {
    text-indent: 0; }
  /* line 363, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  .team img {
    float: left;
    height: 200px;
    display: inline-block;
    margin: .4em 1em 0 0; }

/* line 371, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
h2 + .team {
  margin-top: 0; }

/* line 375, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
.clear {
  clear: both; }

/* line 379, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
table {
  width: 100%;
  margin-top: 20px;
  font-size: .7em;
  border-spacing: 0; }
  /* line 385, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  table th {
    padding: 4px 2px; }
    /* line 388, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
    table th:first-child {
      text-align: left; }
  /* line 393, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
  table td {
    padding: 4px 2px;
    text-align: center;
    border-top: 1px solid #f5f5f5; }
    /* line 398, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
    table td:first-child {
      text-align: left; }

/* line 404, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/main.scss */
blockquote {
  display: block;
  padding-left: 15px;
  margin: 0;
  border-left: 5px solid #d5d5d5; }
