@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
/* line 12, /Users/nonlo/4quant/source/stylesheets/main.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; }

@media (max-width: 47em) {
  /* line 19, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 11.2px; } }
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 31, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 11.2px; } }
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 43, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 11.2px; } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 55, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* line 67, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 12.8px; } }
/* ----------- iPad mini ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 79, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 91, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 102, /Users/nonlo/4quant/source/stylesheets/main.scss */
  html {
    font-size: 16px; } }
/* line 108, /Users/nonlo/4quant/source/stylesheets/main.scss */
body {
  color: #434343;
  background-color: #fcfcfc;
  width: 40em;
  max-width: 100%;
  padding: 1em 1em 1em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: "Droid Serif", serif;
  text-rendering: optimizeLegibility; }

/* line 123, /Users/nonlo/4quant/source/stylesheets/main.scss */
a, a:link, a:visited, a:hover, a:active {
  color: #434343; }

@media (max-width: 48em) {
  /* line 128, /Users/nonlo/4quant/source/stylesheets/main.scss */
  body {
    padding: .1em 1em .1em 1em; } }
/* line 133, /Users/nonlo/4quant/source/stylesheets/main.scss */
header {
  text-align: center; }

/* line 137, /Users/nonlo/4quant/source/stylesheets/main.scss */
h1,
h2,
h3, h4 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  margin: 2em 1em 1em 1em; }

/* line 147, /Users/nonlo/4quant/source/stylesheets/main.scss */
h1 a,
h1 a:visited {
  color: #434343;
  text-decoration: none; }

/* line 153, /Users/nonlo/4quant/source/stylesheets/main.scss */
h2 a,
h2 a:visited {
  color: #434343; }

@media (max-width: 48em) {
  /* line 159, /Users/nonlo/4quant/source/stylesheets/main.scss */
  h3 {
    font-weight: normal; } }
/* line 164, /Users/nonlo/4quant/source/stylesheets/main.scss */
h1 {
  text-transform: uppercase; }

/* line 168, /Users/nonlo/4quant/source/stylesheets/main.scss */
h3, h4 {
  font-weight: 400; }

/* line 172, /Users/nonlo/4quant/source/stylesheets/main.scss */
h4 {
  font-family: "Droid Serif", serif;
  margin: 0; }

/* line 177, /Users/nonlo/4quant/source/stylesheets/main.scss */
p + p {
  margin: 1em 0;
  text-indent: 2em; }

/* line 182, /Users/nonlo/4quant/source/stylesheets/main.scss */
.news p {
  margin: 0 0 1em 0;
  text-indent: 0; }

/* line 188, /Users/nonlo/4quant/source/stylesheets/main.scss */
.news div {
  line-height: 1.7em;
  font-size: 1.2em; }

/* line 193, /Users/nonlo/4quant/source/stylesheets/main.scss */
.news {
  margin: 0 0 2.5em 0; }

/* line 198, /Users/nonlo/4quant/source/stylesheets/main.scss */
.no-indent {
  text-indent: 0; }

/* line 202, /Users/nonlo/4quant/source/stylesheets/main.scss */
p,
ul {
  line-height: 1.7em;
  font-size: 1.2em; }

/* line 208, /Users/nonlo/4quant/source/stylesheets/main.scss */
section {
  margin: 0 auto;
  padding: 1.5em;
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em; }

@media (max-width: 48em) {
  /* line 216, /Users/nonlo/4quant/source/stylesheets/main.scss */
  section {
    padding: 1.5em .5em 1.5em .5em; } }
/* line 221, /Users/nonlo/4quant/source/stylesheets/main.scss */
section > *:first-child {
  margin-top: 0; }

/* line 225, /Users/nonlo/4quant/source/stylesheets/main.scss */
section > *:last-child {
  margin-bottom: 0; }

/* line 229, /Users/nonlo/4quant/source/stylesheets/main.scss */
strong {
  font-weight: 600; }

/* line 233, /Users/nonlo/4quant/source/stylesheets/main.scss */
.alt-font {
  font-family: "Source Sans Pro", sans-serif; }

/* line 237, /Users/nonlo/4quant/source/stylesheets/main.scss */
header, nav {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif; }

/* line 242, /Users/nonlo/4quant/source/stylesheets/main.scss */
.list-horizontal {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0; }

/* line 247, /Users/nonlo/4quant/source/stylesheets/main.scss */
.list-horizontal li {
  display: inline;
  padding-left: 4.0375px;
  padding-right: 4.0375px; }

/* line 253, /Users/nonlo/4quant/source/stylesheets/main.scss */
.caption {
  text-align: right;
  vertical-align: middle; }

/* line 258, /Users/nonlo/4quant/source/stylesheets/main.scss */
.brand {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  display: block; }
  /* line 265, /Users/nonlo/4quant/source/stylesheets/main.scss */
  .brand:hover {
    text-decoration: none; }

/* line 270, /Users/nonlo/4quant/source/stylesheets/main.scss */
code {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: .8em; }

/* line 275, /Users/nonlo/4quant/source/stylesheets/main.scss */
.brand-name {
  line-height: 1; }

/* line 279, /Users/nonlo/4quant/source/stylesheets/main.scss */
.claim {
  font-size: 0.70rem;
  text-transform: uppercase; }

/* line 285, /Users/nonlo/4quant/source/stylesheets/main.scss */
img {
  width: 100%; }

/* line 289, /Users/nonlo/4quant/source/stylesheets/main.scss */
.table {
  display: table;
  font-size: 1.2em; }

/* line 294, /Users/nonlo/4quant/source/stylesheets/main.scss */
.row {
  display: table-row; }

/* line 298, /Users/nonlo/4quant/source/stylesheets/main.scss */
.cell {
  display: table-cell;
  line-height: 1.7em;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 10px; }
