/* line 10, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  margin: 1em; }
  /* line 19, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
  .reveal h1:first-child,
  .reveal h2:first-child,
  .reveal h3:first-child,
  .reveal h4:first-child {
    margin-top: 0; }
/* line 24, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal h1 {
  text-transform: uppercase; }
/* line 28, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal h3,
.reveal h4 {
  font-weight: 400; }
/* line 33, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal h4 {
  font-size: 2.3em; }
/* line 37, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal p,
.reveal ol,
.reveal ul {
  margin-top: 1em;
  font-size: 2.3em;
  line-height: 1.5em;
  text-align: left; }
/* line 46, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal p + p {
  text-indent: 0; }
/* line 50, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal p + ul,
.reveal div + ul {
  display: block;
  margin: 1em 0 1em 1em; }
/* line 56, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal p + ol,
.reveal div + ol {
  display: block;
  margin: 1em 0 1em 1.4em; }
/* line 62, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal li > ul {
  display: block; }
/* line 66, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal ul,
.reveal ol,
.reveal dl {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }
  /* line 73, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
  .reveal ul ul,
  .reveal ul ol,
  .reveal ul dl,
  .reveal ol ul,
  .reveal ol ol,
  .reveal ol dl,
  .reveal dl ul,
  .reveal dl ol,
  .reveal dl dl {
    font-size: 1em; }
/* line 80, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal img {
  margin: 1em auto;
  max-height: 800px; }
  /* line 84, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
  .reveal img.inline-image {
    margin: .5em;
    vertical-align: middle; }
/* line 90, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal video {
  margin: 2em auto;
  max-width: 100%;
  max-height: 800px; }
/* line 96, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal em {
  font-style: italic; }
/* line 100, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal table {
  margin-top: 2em;
  font-size: 1.5em; }
/* line 105, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal td {
  border-top: 1px solid rgba(0, 0, 0, 0.04); }
/* line 109, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal th,
.reveal strong {
  font-weight: bold; }
/* line 114, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal td,
.reveal th {
  padding: .5em; }
/* line 119, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal blockquote {
  padding-left: 1em;
  border-left: .5em solid #d5d5d5; }
/* line 124, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal code {
  padding: .1em .3em;
  font-size: .9em;
  font-family: 'Roboto Mono', monospace; }
/* line 130, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .code {
  margin: 1em;
  padding: .5em;
  font-size: 1.8em;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.3em;
  text-align: left; }
  /* line 138, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
  .reveal .code.big-code {
    font-size: 1.5em; }
/* line 143, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .title-image-block {
  text-align: center;
  margin-top: -1em; }
/* line 150, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .progress span {
  background-color: #434343; }
/* line 155, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .controls .navigate-down,
.reveal .controls .navigate-up {
  display: none; }
/* line 160, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .controls .enabled {
  opacity: 1; }
/* line 164, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .controls .navigate-left {
  border-right-color: #434343; }
/* line 168, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal .controls .navigate-right {
  border-left-color: #434343; }
/* line 173, /Users/nonlo/4Quant-Website-Eugene/4quant/source/stylesheets/reveal_overrides.scss */
.reveal button:focus {
  outline: none; }
